body, html, h1, h2, h3, h4, h5, h6, p, span, img, ul, li {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style: none;
}

.pdlr {
  box-sizing: border-box;
  padding: 0 10%;
}

.header {
  box-sizing: border-box;
  padding: 0 10%;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #919191;
  justify-content: space-between;
}
.header img {
  height: 100%;
  width: 100px;
}
.header ul {
  display: flex;
  height: 100%;
  align-items: end;
  align-items: center;
}
.header ul li {
  text-decoration: none;
  list-style: none;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.header ul:first-child {
  align-items: end;
}
.header ul:first-child li:first-child {
  padding: 0px;
  border: 0px;
  display: flex;
}
.header ul:first-child li:hover {
  background-color: #BBBBBB;
}
.header .headinfo li {
  border-right: 1px solid #BBBBBB;
  box-sizing: border-box;
  padding-bottom: 5px;
}
.header .account button {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
}
.header .account button:hover {
  box-sizing: border-box;
  box-shadow: 5px 5px gray;
}
.header .account .sign {
  background-color: #66CCFF;
  border: 0px;
  border-radius: 5px;
}
.header .account .sign:hover {
  background-color: #2277A7;
}
.header .account .login {
  background-color: #AEDFF7;
  border: 0px;
  border-radius: 5px;
}
.header .account .login:hover {
  background-color: #82C9E7;
}
.header .account select {
  width: 80px;
  height: 50px;
  background-color: #919191;
  border: 2px solid #000000;
}
.header .account select img {
  width: 100%;
  height: auto !important;
}

.main {
  width: 100%;
  height: auto;
}

.useinfo {
  display: flex;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 10%;
}
.useinfo:nth-child(1) {
  background-color: #BBBBBB;
  display: flex;
  flex-direction: column;
}
.useinfo:nth-child(1) .use1Up {
  height: auto;
}
.useinfo:nth-child(1) .use1Up h1 {
  font-size: 2.5rem;
}
.useinfo:nth-child(1) .use1Up h2 {
  font-size: 1.5rem;
}
.useinfo:nth-child(1) .use1Down {
  height: 300px;
  display: flex;
  justify-content: end;
}
.useinfo:nth-child(1) .use1Down img {
  height: 100%;
}
.useinfo:nth-child(2) {
  background-color: #919191;
  display: flex;
  flex-direction: column;
}
.useinfo:nth-child(2) .use2Up {
  height: 100px;
}
.useinfo:nth-child(2) .use2Up h1 {
  font-size: 2.5rem;
}
.useinfo:nth-child(2) .use2Up h2 {
  font-size: 1.5rem;
}
.useinfo:nth-child(2) .use2Down {
  display: flex;
  justify-content: end;
}
.useinfo:nth-child(2) .use2Down img {
  margin-top: 50px;
  width: 100%;
}
.useinfo:nth-child(3) {
  height: 500px;
  background-color: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.useinfo:nth-child(3) .use {
  height: 100px;
}
.useinfo:nth-child(3) .use h1 {
  font-size: 2.5rem;
}

#gary {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(88, 88, 88, 0.6705882353);
  display: flex;
  justify-content: center;
  align-items: center;
}
#gary .form-container {
  width: 80%;
  max-width: 600px;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}
#gary .form-container .switch-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#gary .form-container .switch-buttons button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #919191;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#gary .form-container .switch-buttons button.active {
  background-color: #66CCFF;
  color: #fff;
  border-color: #aaa;
}
#gary .form-container .switch-buttons button:not(.active):hover {
  background-color: #2277A7;
  color: #fff;
  border-color: #aaa;
}
#gary .form-container .form-wrapper {
  padding: 20px;
}
#gary .form-container .form-wrapper form {
  display: flex;
  flex-direction: column;
}
#gary .form-container .form-wrapper form h2 {
  margin-bottom: 20px;
  text-align: center;
}
#gary .form-container .form-wrapper form .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#gary .form-container .form-wrapper form .input-group label {
  width: 120px;
  font-weight: bold;
  margin-right: 10px;
}
#gary .form-container .form-wrapper form .input-group input[type=email],
#gary .form-container .form-wrapper form .input-group input[type=password],
#gary .form-container .form-wrapper form .input-group input[type=text] {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #BBBBBB;
  transition: border-color 0.3s;
}
#gary .form-container .form-wrapper form .input-group input[type=email]:focus,
#gary .form-container .form-wrapper form .input-group input[type=password]:focus,
#gary .form-container .form-wrapper form .input-group input[type=text]:focus {
  outline: none;
  border-color: #BBBBBB;
}
#gary .form-container .form-wrapper form .input-group button#send-code-btn {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #66CCFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#gary .form-container .form-wrapper form .input-group button#send-code-btn:hover {
  background-color: #2277A7;
}
#gary .form-container .form-wrapper form button[type=submit] {
  padding: 10px;
  font-size: 18px;
  background-color: #aaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#gary .form-container .form-wrapper form button[type=submit]:hover {
  background-color: #666;
}/*# sourceMappingURL=aboutus.css.map */