body{
    height: 1000px;
}
#header{
    height: 70px;
    padding: 0 170px;
    button{
        color:black;
    }
    h3{
        font-weight:bold;
    }
}
#neck{
    height: 500px;
    margin-top: 70px;
    button{
        height: 50px;
    }
}
#abdomen{
    height: 500px;
}
#knee{
    height: 500px;
}